
{% extends 'base.html' %}
{% load static %} 

{% block title %}About James Parker{% endblock %}






{% block content %}
<br></br>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'styles.css' %}" rel="stylesheet">


<body class="about">



<center><h1 class=h3txt>About Band</h1></center>
<div class="menu">
      <main>
        
        <p class="established">Est. 2020 or whatever</p>
        <hr>
        <section>
          <h2>Bio</h2>
          <div class=adam>
  				<img src="{% static 'images/sadam2.png' %}"width="100%">
			</div>
          
            <p class="flavor">We are a emo band, started in 2019 or some time around then. we started off as two jerks in the band with simon, but then we started our own thing or whatever. at some time we plan on recording music and playing gigs probably, or get married and have kids. adams getting really good at playing drums now so thats pretty dope</p> 

            <br></br>
            <p>blah blah blah blah blah blah blah blah bdddlah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blahd blah blah blah dblah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah .</p>
            <br></br>
            <div class=jimbo>
  				<img src="{% static 'images/jimbo.jpg' %}"width="100%">
			</div>

            <p>blah blah blah blah bl blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah .</p>

            <p>blah blah blah blah bl blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah .</p>
            


            <br></br>
            <br></br>
            <br></br>


            
            
          
                   
        
        	
			
      </main>
</div>

</body>


{% endblock %}