
{% extends 'base.html' %}
{% load static %} 

{% block title %}About James Parker{% endblock %}






{% block content %}
<br></br>
<link href="{% static 'styles.css' %}" rel="stylesheet">


<body class="about">


<center><h1 class=h3txt>Gigs</h1></center>
<div class="menu">
      <main>
        <h2>Current</h2>

       
        <hr>
        <p>Bar 42</p>
        <p>Soundhouse</p>
        <p>Bar 42</p><p>wednsday 29th 2028</p>
        <p>Bar 42</p><p>wednsday 30th 2028</p>
        <p>Bar 43</p><p>wednsday 32nd 2028</p>
   
     
            


            <br></br>
            <br></br>
            <br></br>

        <h2>Past</h2>
        <hr>

        <p>Bar 43</p><p>wednsday 32nd 2028</p>



            
            
          
                   
        
        	
			
      </main>
</div>

</body>


{% endblock %}