{% extends 'base.html' %}
{% load static %}

{% block title %}CatNapSite{% endblock %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'styles.css' %}" rel="stylesheet">


<h3 class="h3txt text-center my-3">Login Page</h3>


  <form method="POST">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1" class="form-label">User Name</label>
    <input type="text" class="form-control" name="username">

    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">

  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>


<li class="nav-item">
        <center><a class="nav-link" href="{% url 'register' %}">Register</a></center>
      </li>



{% endblock %}
